{% load static %}
<!-- footer -->
<footer class="footer footer-dark bg-dark py-9">
      <div class="container">
          <div class="row gutters-y">
              <div class="col-4 col-lg-4">
                <a href="/" class="logo d-block mb-4"><img src="{% static 'assets/front/assets/img/logo.png' %}" alt="Robo One" class="logo-dark"></a>
                <p>Robo-One® es un programa de Biped Robot Association, Yokohama, Japón. Todos los derechos reservados.</p>
                <div class="social-buttons">
                  <a class="social-facebook" href="https://www.facebook.com/roboonelatinoamerica" target="_blank" rel="noopener noreferrer"><i class="fab fa-facebook"></i></a>
                  <a class="social-instagram" href="https://www.instagram.com/robo_one_latinoamerica/" target="_blank" rel="noopener noreferrer"><i class="fab fa-instagram"></i></a>
<a class="social-twitch" href="http://twitch.tv/robo_one_latino" target="_blank" rel="noopener noreferrer"><i class="fab fa-twitch"></i></a>
                  <a class="social-youtube" href="https://www.youtube.com/channel/UCJiQL7ihUT9UYMUnvp2C0qw/videos" target="_blank" rel="noopener noreferrer"><i class="fab fa-youtube"></i></a>
                </div>
              </div>

              <div class="col-6 col-lg-2">
                <h6 class="text-uppercase fw-600 mb-4">Robo One</h6>
                <div class="nav flex-column">
                  <a class="nav-link" href="https://www.roboticslab.cl/" target="_blank" rel="noopener noreferrer">RoboticsLab SCL</a>
                  <a class="nav-link" href="https://biped-robot.or.jp/" target="_blank" rel="noopener noreferrer" data-toggle="tooltip" title="Biped Robot Asociation">BRA</a>
                </div>
              </div>

              <div class="col-6 col-lg-2">
                <h6 class="text-uppercase fw-600 mb-4">Acerca de</h6>
                <div class="nav flex-column">
                  <a class="nav-link" href="{% url 'pages:about' %}">Evento</a>
                  <a class="nav-link" href="{% url 'pages:news' %}">Noticias</a>
                </div>
              </div>

              <div class="col-6 col-lg-2">
                <h6 class="text-uppercase fw-600 mb-4">Extranjero</h6>
                <div class="nav flex-column">
                <div>
                    <a class="nav-link" href="https://www.robo-one.com/" target="_blank" style="display: inline;">Japón</a> <a class="social-facebook" class="nav-link" href="https://www.facebook.com/BipedRobotAssociation/" target="_blank" style="display: inline;"><i class="fab fa-facebook"></i> </a><a class="nav-link" href="https://www.robo-one.com/" target="_blank" style="display: inline;"><i class="fas fa-globe"></i></a>
                  </div>
                  <div>
                    <a class="nav-link" href="http://www.reca.or.kr/" target="_blank" style="display: inline;">Korea</a> <a class="social-facebook"  class="nav-link" href="https://www.facebook.com/worldcreativerobotcontest/" target="_blank" style="display: inline;"><i class="fab fa-facebook"></i></a><a class="nav-link" href="http://www.reca.or.kr/" target="_blank" style="display: inline;"><i class="fas fa-globe"></i></a>
                  </div>
                  <div>
                    <a class="nav-link" href="http://www.tca.org.tw/" target="_blank" style="display: inline;">Taiwan</a> <a class="social-facebook" class="nav-link" href="https://www.facebook.com/RobotIndustrialDevelopmentOffice/" target="_blank" style="display: inline;"><i class="fab fa-facebook"></i> </a><a class="nav-link" href="http://www.tca.org.tw/" target="_blank" style="display: inline;"><i class="fas fa-globe"></i></a>
                  </div>
                </div>
              </div>

              <div class="col-6 col-lg-2">
                <h6 class="text-uppercase fw-600 mb-4">Ayuda</h6>
                <div class="nav flex-column">
                  <a class="nav-link" href="{% url 'pages:faq' %}">FAQ</a>
                  <a class="nav-link" href="#" data-toggle="modal" data-target="#contactModal">Contacto</a>
                  <a class="nav-link" href="{% static 'files/Privacy-Policies-Robo-One.pdf' %}">Políticas de Privacidad</a>
                </div>
              </div>
          </div>
      </div>
    </footer>
    <!-- /.footer -->