{% extends 'pages/structure/base.html' %}

{% load static %}

{% block custom_dependencies %}
<link href="{% static 'assets/front/assets/css/gallery/view.css' %}" rel="stylesheet">

    <link rel="stylesheet" type="text/css"
        href="http://www.aropupu.fi/bracket/jquery-bracket/dist/jquery.bracket.min.css" />
<script src="{% static 'assets/front/assets/js/utils.js' %}"></script>
{% endblock %}

{% block body %}
  <!-- Start Main Content -->
  <main class="main-content" style="padding-top: 50px;">

    <div class="overlay overflow-hidden pe-n"><img src="{% static 'assets/front/assets/img/bg/bg_shape.png' %}" alt="Background shape"></div>
    <!-- Start Content Area -->
    <div class="content-section text-light pt-9" style="padding-bottom: 20px !important;">
      <section class="section section-l section-roadmap bg-theme tc-light" id="roadmap">
        <div class="container">
          <div class="section-head text-center wide-auto">
            <h6 class="title title-xs title-light animated" data-animate="fadeInUp" data-delay=".1">¡Resultados del Torneo!</h6>
            <h2 class="title title-lg title-dark animated" data-animate="fadeInUp" data-delay=".2">1° ROBO-ONE Chile</h2>
            <p class="animated" data-animate="fadeInUp" data-delay=".1">!Revive la batalla!</p>
          </div>
          <div class="nk-block nk-block-roadmap">
            <div class="row justify-content-center">
              <div class="col-xl-10">
                <div class="embed-responsive embed-responsive-16by9">
                  <iframe src="/ranking/results/1-robo-one-chile-iframe/" allowtransparency="true" width="450" height="350" frameBorder="0">
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>  
    <!-- End Content Area -->

    {% include 'pages/structure/partners.html' %}
  </main>

    {% include 'pages/structure/footer.html' %}

  <!-- Contact -->
  <div class="modal fade" id="contactModal" tabindex="-1" role="dialog" aria-labelledby="userLoginTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
      <div class="modal-content bg-dark text-light">
        <div class="modal-header border-secondary">
          <h5 class="modal-title" id="userLoginTitle">Contacto</h5>
          <button type="button" class="close text-light" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div id="contactForm" class="modal-body">
          <form method="POST" onsubmit="sendContactForm(event)" class="input-transparent">
            <div class="form-row">
              <div class="form-group col-md-6">
                <input class="form-control form-control-lg" id="contactName" type="text" name="name"
                  placeholder="Nombre" required>
              </div>
              <div class="form-group col-md-6">
                <input class="form-control form-control-lg" id="contactEmail" type="email" name="email"
                  placeholder="E-mail" required>
              </div>
            </div>
            <div class="form-group">
              <input type="text" class="form-control border-secondary" id="contactSubject" name="subject"
                placeholder="Asunto" required>
            </div>
            <div class="form-group">
              <textarea class="form-control form-control-lg" id="contactMessage" rows="4" placeholder="Mensaje..."
                name="message" required></textarea>
            </div>
            <div class="form-group mt-6">
              <button class="btn btn-block btn-warning" type="submit">Enviar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- /.contact -->

{% include 'pages/structure/scripts.html' %}

{% endblock %}