{% extends 'pages/structure/base.html' %}

{% load static %}

{% block body %}
  <!-- Start Home Slide -->
  <header id="header" class="header h-fullscreen__page text-light">
    <div class="media-container parallax-window" data-parallax="scroll" data-image-src="{% static 'assets/front/assets/img/bg/bg-2.jpg' %}"
      data-overlay="6"></div>
    <div class="overlay bg-dark_A-40"></div>
    <div class="overlay d-flex align-items-center">
      <div class="container text-center">
        <div class="row align-items-center">
          <div class="col-lg-6 mx-auto">
            <div class="fadeIn ad-500ms">
              <img class="mb-5" src="{% static 'assets/front/assets/img/content/cont/robo-one.png' %}" alt="Robo One">
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <!-- /.End Home Slide -->

  <main class="main-content">

    <!-- Start Content Area -->
    <section class="content-section gradient-lg">
      <div class="container">
        <div class="row gutters-y align-items-center">
          <div class="col-lg-6 mb-4 mb-lg-0 ml-auto">
            <div class="ar-4_3 bs-c bp-c br-n rounded" style="background-image: url({% static 'assets/front/assets/img/bg/bg-3.jpg' %})"></div>
          </div>
          <div class="col-lg-6 ml-lg--8 rounded bg-dark text-light shadow-lg-3 py-7 px-lg-7 py-lg-6">
            <h3 class="mb-4">Propósito</h3>
            <hr class="w-10 border-top-2 my-6 my-xl-7 ml-0 border-warning">
            <p class="lead-1">Facilitar la incorporación de conocimiento avanzado en robótica bípeda y tecnologías de
              vanguardia, fomentando el desarrollo de la robótica e industria 4.0, mediante una competencia
              internacional pionera en el mundo, muy entretenida y desafiante.</p>
          </div>
        </div>
      </div>
    </section>
    <!-- /.End Content Area -->

    <!-- Start Content Area -->
    <section class="content-section text-center text-light parallax-window position-relative" data-parallax="scroll"
      data-image-src="{% static 'assets/front/assets/img/bg/bg-4.jpg' %}">
      <div class="overlay bg-dark_A-80 pe-n"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2 class="mb-6">Objetivos</h2>
            <hr class="w-10 border-top-2 my-6 my-xl-7 border-warning">
            <p class="lead-1">Fomentar las habilidades tecnológicas de los estudiantes, pensamiento computacional y de
              esta forma acortar la brecha tecnológica del país, en niveles de acceso, uso y especialización.
              En 2019 se realizó el primer campeonato internacional de robótica bípeda ROBO-ONE en Chile, impactando al
              desarrollo tecnológico y STENAM, aportando al sistema educacional chileno para alumnos desde 2º ciclo de
              formación.</p>
            <p class="lead-1">Masificar el conocimiento tecnológico avanzado en Chile. Inspirar a todo tipo de
              personas, especialmente jóvenes estudiantes a incursionar en el desarrollo y adquisición de conocimiento
              Tics, mediante la ejecución de una competencia desafiante en tecnología y habilidades.</p>
            <p class="lead-1">Implementar una base de conocimiento en el país, permitiendo su disponibilidad de acceso
              y uso. Crear una liga nacional de robótica bípeda para la incorporación y detección de jóvenes
              talentos.</p>
          </div>
        </div>
      </div>
    </section>
    <!-- /.End Content Area -->

    <?php  require('structure/partners.php'); ?>

    <!-- Start Content Area
    <section class="content-section testimonial-section text-center bg-warning" data-overlay="2">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 mx-auto">
            <div class="text-light">
              <h2 class="mb-3">Inscribe tu equipo!</h2>
              <p class="mb-0 lead-1">Estas a punto de comenzar una gran aventura desafiante, innovadora y con mucho
                potencial tecnológico.</p>
              <br>
              <a href="https://docs.google.com/forms/d/1UfHcaDh6Mchan0FH7g1oT1oJ4CJrB1C6-kHsw1evslU/edit"
                class="btn btn-lg btn-round btn-light mb-2">Inscripciones</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    End Content Area -->

    <!-- Start Screenshots Area -->
    <div class="screenshots_box">
      <div class="container-fluid">
        <div class="row py-2 py-lg-1">
          <div class="col-md-6 col-lg d-flex pl-lg-0 pr-lg-1 mb-4 mb-lg-0">
            <div class="tile d-flex px-0">
              <div class="tile">
                <figure class="h-100 ar-8_5 bs-c br-n bp-c" style="background-image: url({% static 'assets/front/assets/img/thumb/3.jpg' %});">
                </figure>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg d-flex px-lg-1 mb-4 mb-lg-0">
            <div class="tile d-flex px-0">
              <div class="tile">
                <figure class="h-100 ar-8_5 bs-c br-n bp-c" style="background-image: url({% static 'assets/front/assets/img/thumb/11.jpg' %});">
                </figure>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg d-flex px-lg-1 mb-4 mb-md-0">
            <div class="tile d-flex px-0">
              <div class="tile">
                <figure class="h-100 ar-8_5 bs-c br-n bp-c" style="background-image: url({% static 'assets/front/assets/img/thumb/6.jpg' %});">
                </figure>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg d-flex pr-lg-0 pl-lg-1">
            <div class="tile d-flex px-0">
              <div class="tile">
                <figure class="h-100 ar-8_5 bs-c br-n bp-c" style="background-image: url({% static 'assets/front/assets/img/thumb/5.jpg' %});">
                </figure>
              </div>
            </div>
          </div>
        </div>
        <div class="row py-2 py-lg-1">
          <div class="col-md mb-4 mb-md-0 d-flex pr-lg-1 pl-lg-0">
            <div class="tile d-flex px-0">
              <div class="tile">
                <figure class="h-100 ar-8_5 bs-c br-n bp-c" style="background-image: url({% static 'assets/front/assets/img/thumb/4.jpg' %});">
                </figure>
              </div>
            </div>
          </div>
          <div class="col-md mb-4 mb-md-0 d-flex px-lg-1">
            <div class="tile d-flex px-0">
              <div class="tile">
                <figure class="h-100 ar-8_5 bs-c br-n bp-c" style="background-image: url({% static 'assets/front/assets/img/thumb/7.jpg' %});">
                </figure>
              </div>
            </div>
          </div>
          <div class="col-md d-flex pl-lg-1 pr-lg-0">
            <div class="tile d-flex px-0">
              <div class="tile">
                <figure class="h-100 ar-8_5 bs-c br-n bp-c" style="background-image: url({% static 'assets/front/assets/img/thumb/12.jpg' %});">
                </figure>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End Screenshots Area -->

  </main>

  <?php require('structure/footer.php'); ?>

  <!-- Contact -->
  <div class="modal fade" id="contactModal" tabindex="-1" role="dialog" aria-labelledby="userLoginTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
      <div class="modal-content bg-dark text-light">
        <div class="modal-header border-secondary">
          <h5 class="modal-title" id="userLoginTitle">Contacto</h5>
          <button type="button" class="close text-light" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div id="contactForm" class="modal-body">
          <form method="POST" onsubmit="sendContactForm(event)" class="input-transparent">
          {% csrf_token %}
            <div class="form-row">
              <div class="form-group col-md-6">
                <input class="form-control form-control-lg" id="contactName" type="text" name="name"
                  placeholder="Nombre" required>
              </div>
              <div class="form-group col-md-6">
                <input class="form-control form-control-lg" id="contactEmail" type="email" name="email"
                  placeholder="E-mail" required>
              </div>
            </div>
            <div class="form-group">
              <input type="text" class="form-control border-secondary" id="contactSubject" name="subject"
                placeholder="Asunto" required>
            </div>
            <div class="form-group">
              <textarea class="form-control form-control-lg" id="contactMessage" rows="4" placeholder="Mensaje..."
                name="message" required></textarea>
            </div>
            <div class="form-group mt-6">
              <button class="btn btn-block btn-warning" type="submit">Enviar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- /.contact -->

  {% include 'pages/structure/scripts.html' %}
{% endblock %}