{% extends 'pages/structure/base.html' %}

{% load static %}

{% block body %}
<!-- Start Main Content -->
  <main class="main-content">

    <div class="overlay overflow-hidden pe-n"><img src="{% static 'assets/img/bg/bg_shape.png' %}" alt="Background shape"></div>

    <!-- Start Content Area -->
    <section class="review-box content-section text-light">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div>
              <h6 class="mb-4 fw-400 ls-1 text-uppercase">Preguntas frecuentes</h6>
              <div class="border border-secondary rounded p-4">
                <!-- Item -->
                <div class="review-item mb-5">
                  <div>
                    <span class="lead-2 font-weight-bold">REGISTRO: ¿Existe algún número determinado de participantes por cada
                      equipo?</span>
                    <div class="readmore r-fade collapse show" style="">
                      <p class="mb-0">Para efectos de la competencia sólo se pueden registrar hasta cuatro
                        personas por equipo, entre ellos un representante del mismo. Sin perjuicio de esto, los equipos
                        pueden estar conformados por más personas en su etapa de preparación para la competencia y fuera
                        de la misma (pero solo podrán entrar como participantes hasta tres personas por equipo).</p>
                    </div>
                  </div>
                </div>
                <hr class="border-secondary mt-0 mb-5">
                <!-- /.Item -->
                <!-- Item -->
                <div class="review-item mb-5">
                  <div>
                    <span class="lead-2 font-weight-bold">REGISTRO: ¿Desde a hasta que edad las personas pueden registrarse en la
                      competencia? </span>
                    <div class="collapse readmore r-fade show">
                      <p class="mb-0">ROBO-ONE no tiene límite de edad para participar.</p>
                      <p class="mb-0">Son bienvenidos todas las personas y equipos de estudiantes de enseñanza
                        básica, media, universitarios, así como grupos de amigos o de adultos de empresas. El requisito
                        de participación es cumplir las normas de la competencia, las bases y poseer un robot
                        certificado o construido y que cumpla las bases técnicas.</p>
                    </div>
                  </div>
                </div>
                <hr class="border-secondary mt-0 mb-5">
                <!-- /.Item -->
                <!-- Item -->
                <div class="review-item mb-0">
                  <div>
                    <span class="lead-2 font-weight-bold">REGISTRO: ¿Tiene que existir un adulto a cargo del equipo?</span>
                    <div class="collapse readmore r-fade show">
                      <p class="mb-0">Si, es necesario solamente para la inscripción y registro del equipo. Aún
                        en el caso del equipo se encuentre conformado por solamente menores de edad. En el caso de la
                        participación de menores de edad, deben contar con una carta de autorización y apoyo de un
                        adulto quien debe ser responsable de los menores de edad durante su participación en el torneo.
                      </p>
                    </div>
                  </div>
                </div>
                <!-- /.Item -->
                <hr class="border-secondary mt-0 mb-5">
                <!-- Item -->
                <div class="review-item mb-0">
                  <div>
                    <span class="lead-2 font-weight-bold">REGISTRO: ¿Cómo puedo registrarme para competir?</span>
                    <div class="collapse readmore r-fade show">
                      <p class="mb-0">A través de la página oficial de ROBO-ONE LATINOAMÉRICA, sección
                        Inscripción. Hay distintos casos y costos de Inscripción diferenciados para Privados y empresas;
                        Estudiantes y profesores y Estudiantes y profesores Mineduc.</p>
                    </div>
                  </div>
                </div>
                <!-- /.Item -->
                <hr class="border-secondary mt-0 mb-5">
                <!-- Item -->
                <div class="review-item mb-0">
                  <div>
                    <span class="lead-2 font-weight-bold">REGISTRO: ¿ROBO-ONE LATINOAMÉRICA 2021 tiene costo de participación?</span>
                    <div class="collapse readmore r-fade show">
                      <ul>
                        <li class="mb-0">La inscripción incluye hasta 3 participantes.</li>
                        <li class="mb-0">Participante adicional estudiantes $20.000</li>
                        <li class="mb-0">Participante adicional empresa $50.000</li>
                        <li class="mb-0">La inscripción se cancela vía transferencia bancaria a la organización
                          de la competencia.</li>
                      </ul>
                    </div>
                  </div>
                </div>
                <!-- /.Item -->
                <hr class="border-secondary mt-0 mb-5">
                <!-- Item -->
                <div class="review-item mb-0">
                  <div>
                    <span class="lead-2 font-weight-bold">REGISTRO: ¿ROBO-ONE CHILE 2021 tiene costo de participación?</span>
                    <div class="collapse readmore r-fade show">
                      <ul>
                        <li class="mb-0">Sin costo.</li>
                      </ul>
                    </div>
                  </div>
                </div>
                <!-- /.Item -->
                <hr class="border-secondary mt-0 mb-5">
                <!-- Item -->
                <div class="review-item mb-0">
                  <div>
                    <span class="lead-2 font-weight-bold">De los robots: Que medidas de seguridad se recomienda para la construcción de
                      Robots.</span>
                    <div class="collapse readmore r-fade show">
                      <p class="mb-0">Usar calzado cerrado, pantalones largos, guantes y gafas de seguridad
                        (antiparras, idealmente transparentes) cuando sea necesario. Del mismo modo, se recomienda
                        precaución al cargar baterías y manipular elementos conectados a electricidad, y evitar
                        situaciones de riesgo tales como beber o comer en el espacio de trabajo, uso indiscriminado de
                        teléfonos celulares, música a un volumen muy alto y que dificulte la comunicación entre el
                        equipo, obstrucción de salidas de emergencia, etc.</p>
                      <p class="mb-0">En el torneo los participantes están obligados a cumplir con las
                        disposiciones de la organización y de su equipo de seguridad, así como con las reglas de
                        conducta y desplazamiento en el lugar del evento. Incumplir con estas instrucciones puede
                        considerarse como una conducta que atenta contra el normal desarrollo de la competencia y ser
                        sancionado (revisar uso de tarjetas amarillas).</p>
                    </div>
                  </div>
                </div>
                <!-- /.Item -->
                <hr class="border-secondary mt-0 mb-5">
                <!-- Item -->
                <div class="review-item mb-0">
                  <div>
                    <span class="lead-2 font-weight-bold">En la Competencia: ¿Podemos agregar elementos de apariencia (ropa, sombreros,
                      stickers, etc) a nuestro robot?</span>
                    <div class="collapse readmore r-fade show">
                      <p class="mb-0">¡Por supuesto! Se invita a todos los equipos a personalizar sus robots y a
                        darles una identidad propia (mejor aún si va en concordancia al equipo mismo). Crea un nombre a
                        tu equipo, otorga un nombre y personalidad a tu robot.</p>
                    </div>
                  </div>
                </div>
                <!-- /.Item -->
                <hr class="border-secondary mt-0 mb-5">
                <!-- Item -->
                <div class="review-item mb-0">
                  <div>
                    <span class="lead-2 font-weight-bold">En la Competencia: ¿El evento tiene algún costo para el público?</span>
                    <div class="collapse readmore r-fade show">
                      <p class="mb-0">No, el acceso a público será abierto y gratuito (sin perjuicio de las
                        capacidades máximas del lugar de competencia). <br> En modo remoto se transmitirá en las redes sociales oficiales de la competencia <a href="http://twitch.tv/robo_one_latino" target="_blank">Twitch</a> y <a href="https://www.youtube.com/channel/UCJiQL7ihUT9UYMUnvp2C0qw/featured" target="_blank">Youtube</a>.
</p>
                    </div>
                  </div>
                </div>
                <!-- /.Item -->
                <hr class="border-secondary mt-0 mb-5">
                <!-- Item -->
                <div class="review-item mb-0">
                  <div>
                    <span class="lead-2 font-weight-bold">En la Competencia: Si mi equipo obtiene la victoria, ¿Se nos ayudará a llegar a
                      Japón a competir en la final?</span>
                    <div class="collapse readmore r-fade show">
                      <p class="mb-0">Si mi equipo obtiene la victoria, ¿se nos ayudará a llegar a Japón? El equipo que obtenga el primer lugar del campeonato Robo-One Latinoamérica,
                        recibirá como premio la clasificación para Robo-One Japón y financiamiento para un
                        pasaje Japón.</p>
                    </div>
                  </div>
                </div>
                <!-- /.Item -->
                <hr class="border-secondary mt-0 mb-5">
                <!-- Item -->
                <div class="review-item mb-0">
                  <div>
                    <span class="lead-2 font-weight-bold">En la Competencia: ¿En qué idioma se desarrollará el torneo en Chile.?</span>
                    <div class="collapse readmore r-fade show">
                      <p class="mb-0">El torneo se va a desarrollar en Español (Castellano), sin perjuicio de
                        eso el árbitro y los jueces podrán utilizar expresiones en japonés e inglés (ver manual de
                        competencia)</p>
                    </div>
                  </div>
                </div>
                <!-- /.Item -->
                <hr class="border-secondary mt-0 mb-5">
                <!-- Item -->
                <div class="review-item mb-0">
                  <div>
                    <span class="lead-2 font-weight-bold">En la Competencia: ¿Es necesario pasar por la inspección preliminar para
                      competir?</span>
                    <div class="collapse readmore r-fade show">
                      <p class="mb-0">Si. Todos los robots deben superar la etapa de inspección y ser
                        certificados antes de poder competir en el torneo. Para mayor información sobre la inspección y
                        certificación de los robots revisar el manual de competencia.</p>
                    </div>
                  </div>
                </div>
                <!-- /.Item -->
                <hr class="border-secondary mt-0 mb-5">
                <!-- Item -->
                <div class="review-item mb-0">
                  <div>
                    <span class="lead-2 font-weight-bold">En la Competencia: ¿Existen puntos de evaluación por elementos externos al
                      robot? Ejemplos: apariencia del robot, diseño propios de sus partes y componentes, etc)</span>
                    <div class="collapse readmore r-fade show">
                      <p class="mb-0">Si, se evaluarán aspectos externos al robot para el premio al Diseño de
                        Robot.</p>
                    </div>
                  </div>
                </div>
                <!-- /.Item -->
                <hr class="border-secondary mt-0 mb-5">
                <!-- Item -->
                <div class="review-item mb-0">
                  <div>
                    <span class="lead-2 font-weight-bold">En la Competencia: CONCEPTOS CLAVES DURANTE EL ENCUENTRO Y EL ÁRBITRO</span>
                    <div class="collapse readmore r-fade show">
                      <ul>
                        <li class="mb-0">DOWN: Caída. El robot cae al suelo, por movimiento válido del oponente.
                          Normalmente los rounds permiten hasta 2 DOWNS por robot (un tercer DOWN otorga la victoria al
                          rival).</li>
                        <li class="mb-0">SLIPS: Resbalón. El robot cae al suelo, por responsabilidad del
                          operador humano o por un movimiento mal ejecutado.</li>
                        <li class="mb-0">TARJETA AMARILLA: se otorga a criterio del árbitro, en caso de falta.
                          Dos tarjetas amarillas equivalen a una TARJETA ROJA.</li>
                        <li class="mb-0">TARJETA ROJA: se otorga a criterio del árbitro cuando el robot presente
                          algún desperfecto que requiera detener el round; o en caso de faltas graves y por conducta
                          antideportiva que atente contra el espíritu de la competencia. Una TARJETA ROJA equivale a un
                          DOWN.</li>
                      </ul>
                    </div>
                  </div>
                </div>
                <!-- /.Item -->
                <hr class="border-secondary mt-0 mb-5">
                <!-- Item -->
                <div class="review-item mb-0">
                  <div>
                    <span class="lead-2 font-weight-bold">En la Competencia: SOBRE LA EVALUACIÓN Y OBJECIONES</span>
                    <div class="collapse readmore r-fade show">
                      <p class="mb-0">Si existiese algún error en el juzgamiento de un partido o si el jugador
                        siente dudas sobre lo mismo se debe informar al juez cuando el partido se encuentre detenido. Se
                        recomienda formular el cuestionamiento después de emitida la señal de detenerse por parte del
                        árbitro. El operador debe levantar su mano y a viva voz decir OBJECIÓN. El juez detendrá el
                        reloj (incluso en detenciones por tarjeta roja, overtime y re-overtime) y revisará el contenido
                        de ésta. Si no se llega a una decisión, el representante del comité de Robo-One será quien
                        revise el asunto. La decisión será informada una vez concluido el partido, y no podrá ser
                        objetada. Existirá más de un juez para asegurar imparcialidad.</p>
                    </div>
                  </div>
                </div>
                <!-- /.Item -->
                <hr class="border-secondary mt-0 mb-5">
                <!-- Item -->
                <div class="review-item mb-0">
                  <div>
                    <span class="lead-2 font-weight-bold">En la Competencia: RING DE PRÁCTICA</span>
                    <div class="collapse readmore r-fade show">
                      <p class="mb-0">En caso de existir disponibilidad de rings de práctica se aplicarán las
                        mismas reglas de uso del ring de competencia. Es deber de los participantes cumplir con las
                        indicaciones del equipo de seguridad de la competencia, para asegurar un ambiente libre de
                        riesgos para los jugadores, staff y público asistente.</p>
                    </div>
                  </div>
                </div>
                <!-- /.Item -->
                <hr class="border-secondary mt-0 mb-5">
                <!-- Item -->
                <div class="review-item mb-0">
                  <div>
                    <span class="lead-2 font-weight-bold">En la Competencia: SEÑALES DEL ÁRBITRO</span>
                    <div class="collapse readmore r-fade show">
                      <ul>
                        <li class="mb-0">El árbitro tiene la facultad de emitir las siguientes señales y/o
                          instrucciones de forma oral. Se recomienda revisar con atención:</li>
                        <li class="mb-0">Comenzar - HAJIME: al iniciar o reiniciar el partido.</li>
                        <li class="mb-0">Interrumpir el juego - MATE o WAIT: señal para interrumpir el partido.
                        </li>
                        <li class="mb-0">Detenerse - YAME o STOP: Señal para finalizar el partido.</li>
                        <li class="mb-0">Comenzar el combate - FIGHT: declaración para comenzar el combate o
                          para continuarlo tras un SLIP.</li>
                        <li class="mb-0">Detenerse de pie - STANDING: detención indicada con el robot de pie.
                        </li>
                        <li class="mb-0">STANDING DOWN: 3 segundos después de la señal STANDING o DE PIE.</li>
                        <li class="mb-0">Fuera del ring - RING OUT: cuando el robot cae fuera del ring.</li>
                        <li class="mb-0">Tiempo cumplido - TIME OUT: cuando se cumple el tiempo reglamentario.
                        </li>
                        <li class="mb-0">¿Listos? - READY?: para confirmar que el jugador está listo para
                          competir.</li>
                        <li class="mb-0">Tomar distancia - BREAK: cuando se instruye tomar un metro o más de
                          distancia del oponente.</li>
                        <li class="mb-0">Torque fuera - TORQUE OFF: cuando se instruye dejar de aplicar fuerza
                          regular.</li>
                        <li class="mb-0">Apagar - POWER OFF: cuando se instruye apagar el o los robots.</li>
                        <li class="mb-0">Ganador esquina Roja/Azul - WINNER RED/BLUE CORNER: al declarar un
                          ganador.</li>
                        <li class="mb-0">OWAZA: al declarar un ataque audaz.</li>
                        <li class="mb-0">OWAZA fallido - OWAZA FAILURE: al declarar un ataque audaz fallido.
                        </li>
                        <li class="mb-0">Tomar distancia - STAND AWAY: cuando se debe tomar distancia mientras
                          el rival se levanta.</li>
                        <li class="mb-0">Chequeo de caminata - WALKING CHECK: cuando se solicita un chequeo de
                          caminata (revisión de calificación para poder competir).</li>
                        <li class="mb-0">Ponerse de pie - STAND UP: Cuando se instruye levantarse.</li>
                      </ul>
                    </div>
                  </div>
                </div>
                <!-- /.Item -->
                <hr class="border-secondary mt-0 mb-5">
                <!-- Item -->
                <div class="review-item mb-0">
                  <div>
                    <span class="lead-2 font-weight-bold">Uso de Cookies</span>
                    <div class="collapse readmore r-fade show">
                      <p class="mb-0">El sitio web puede utilizar cookies para personalizar y facilitar la
                        navegación máxima del Usuario a través de este sitio. El usuario puede configurar su navegador
                        para notificar y rechazar la instalación de las cookies enviadas por nosotros.</p>
                    </div>
                  </div>
                </div>
                <!-- /.Item -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End Content Area -->
  </main>

{% include 'pages/structure/footer.html' %}


  {% include 'pages/structure/utils/contact-form-pop-up.html' %}

  {% include 'pages/structure/scripts.html' %}
{% endblock %}