{% extends 'pages/structure/base.html' %}

{% load static %}


{% block body %}

    <!-- header -->
    <header class="header">
      <div id="carousel_main" class="carousel carousel-header slide carousel-fade fl-scn mt-7" data-ride="carousel">
        <!-- Indicators -->
        <div class="po_carousel__wrapper">
            <ol class="list-unstyled carousel-indicators def po_carousel-indicators">
              <li data-target="#carousel_main" data-slide-to="0" class="active"></li>
              <li data-target="#carousel_main" data-slide-to="1" class=""></li>
              <li data-target="#carousel_main" data-slide-to="2" class=""></li>
            </ol>
        </div>
        <!-- Carousel items -->
        <div class="carousel-inner a-cont">
          <!-- carousel-item -->
          <div class="carousel-item active">
            <div class="h-fullscreen__page bs-c br-n ow-h first-slide">
              <div class="w-100 d-flex jc-c overlay">
                <!-- sm-overlay -->
                <div class="overlay bg-light_A-20 d-lg-none"></div>
                <div class="overlay bg-dark_A-50 d-lg-none"></div>
                <!-- lg-overlay -->
                <div class="d-none d-lg-block position-absolute triangle-bottomleft a-out carousel-shape__light light_A-2" data-carousel-animation="fade"></div>
                <div class="d-none d-lg-block position-absolute triangle-bottomleft a-out carousel-shape ad-200ms" data-carousel-animation="fade"></div>
              </div>
              <div class="d-flex align-items-center h-100">
                <div class="container">
                  <div class="row align-items-center h-100">
                    <div class="col-10 mr-auto ml-lg-0 col-lg-5 custom-carousel-container">
                      <div class="main_carousel__content ad-900ms fadeIn text-light px-6 px-md-6 mx-lg-4 mx-xl-0">
                        <h2 class="carousel__heading text-light fadeInDown ad-500ms">ROBO-ONE</h2>
                        <p class="carousel__text lead-1 mb-6 fadeInDown ad-600ms custom-slider-text">Robotics Lab SCL y The Biped Robot Association llevará a cabo una competencia de lucha de robots caminantes bípedos con el objetivo de mejorar la tecnología de fabricación y popularizar los robots caminantes bípedos en Chile, junto a fomentar la robótica y el uso de las tecnologías avanzadas en el país.</p>
                          <div class="d-flex fadeInLeft ad-900ms">
                            <a class="d-none d-md-block disabled btn btn-lg bg-dark_A-50 o-1 text-light br-round-0tr br-round-0br parallelogram un_text mb-0"><span class="d-block text-warning"><i class="fab fa-twitch"></i> Transmisión</span></a>
                            <a href="http://twitch.tv/robo_one_latino" target="_blank" class="btn btn-lg btn-light parallelogram br-round-0tl br-round-0bl un_text mb-0"><span class="d-block">Ver evento</span></a>
                          </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- /.carousel-item -->

          <!-- carousel-item -->
          <div class="carousel-item">
            <div class="h-fullscreen__page bs-c br-n ow-h" style="background-image: url({% static 'assets/front/assets/img/content/carousel/Robo-One-Latino-America-2020-04.jpg' %});">
              <div class="w-100 d-flex jc-c overlay">
                <!-- sm-overlay -->
                <div class="overlay bg-light_A-20 d-lg-none"></div>
                <div class="overlay bg-dark_A-50 d-lg-none"></div>
                <!-- lg-overlay -->
                <div class="d-none d-lg-block position-absolute triangle-bottomleft a-out carousel-shape__light light_A-2" data-carousel-animation="fade"></div>
                <div class="d-none d-lg-block position-absolute triangle-bottomleft a-out carousel-shape ad-200ms" data-carousel-animation="fade"></div>
              </div>
              <div class="d-flex align-items-center h-100">
                <div class="container">
                  <div class="row align-items-center h-100">
                    <div class="col-10 mr-auto ml-lg-0 col-lg-5 custom-carousel-container">
                      <div class="main_carousel__content ad-900ms fadeIn text-light px-8 px-md-6 mx-lg-4 mx-xl-0">
                        <h2 class="carousel__heading text-light fadeInDown ad-500ms">ROBO-ONE</h2>
                        <p class="carousel__text lead-1 mb-6 fadeInDown ad-600ms custom-slider-text-v2">Robotics Lab SCL y The Biped Robot Association llevará a cabo una competencia de lucha de robots caminantes bípedos con el objetivo de mejorar la tecnología de fabricación y popularizar los robots caminantes bípedos en Chile, junto a fomentar la robótica y el uso de las tecnologías avanzadas en el país.</p>
                        
                        <div class="d-flex fadeInLeft ad-900ms">
                          <a class="d-none d-md-block disabled btn btn-lg bg-dark_A-50 o-1 text-light br-round-0tr br-round-0br parallelogram un_text mb-0"><span class="d-block text-warning"><i class="fab fa-twitch"></i> Transmisión</span></a>
                          <a href="http://twitch.tv/robo_one_latino" target="_blank" class="btn btn-lg btn-light parallelogram br-round-0tl br-round-0bl un_text mb-0"><span class="d-block">Ver evento</span></a>
                        </div>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- /.carousel-item -->

          <!-- carousel-item -->
          <div class="carousel-item">
            <div class="h-fullscreen__page bs-c br-n ow-h" style="background-image: url({% static 'assets/front/assets/img/content/carousel/Robo-One-Latino-America-2020-05.jpg' %});">
              <div class="w-100 d-flex jc-c overlay">
                <!-- sm-overlay -->
                <div class="overlay bg-light_A-20 d-lg-none"></div>
                <div class="overlay bg-dark_A-50 d-lg-none"></div>
                <!-- lg-overlay -->
                <div class="d-none d-lg-block position-absolute triangle-bottomleft a-out carousel-shape__light light_A-2" data-carousel-animation="fade"></div>
                <div class="d-none d-lg-block position-absolute triangle-bottomleft a-out carousel-shape ad-200ms" data-carousel-animation="fade"></div>
              </div>
              <div class="d-flex align-items-center h-100">
                <div class="container">
                  <div class="row align-items-center h-100">
                    <div class="col-10 mr-auto ml-lg-0 col-lg-5 custom-carousel-container">
                      <div class="main_carousel__content ad-900ms fadeIn text-light px-8 px-md-6 mx-lg-4 mx-xl-0">
                        <h3 class="carousel__heading text-light fadeInDown ad-500ms">ROBO-ONE</h3>
                        <p class="carousel__text lead-1 mb-6 fadeInDown ad-600ms custom-slider-text-v2">Robotics Lab SCL y The Biped Robot Association llevará a cabo una competencia de lucha de robots caminantes bípedos con el objetivo de mejorar la tecnología de fabricación y popularizar los robots caminantes bípedos en Chile, junto a fomentar la robótica y el uso de las tecnologías avanzadas en el país.</p>
                        
                        <div class="d-flex fadeInLeft ad-900ms">
                          <a class="d-none d-md-block disabled btn btn-lg bg-dark_A-50 o-1 text-light br-round-0tr br-round-0br parallelogram un_text mb-0"><span class="d-block text-warning"><i class="fab fa-twitch"></i> Transmisión</span></a>
                          <a href="http://twitch.tv/robo_one_latino" target="_blank" class="btn btn-lg btn-light parallelogram br-round-0tl br-round-0bl un_text mb-0"><span class="d-block">Ver evento</span></a>
                        </div>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- /.carousel-item -->
        </div>
        <!-- Carousel nav -->
        <div class="carousel-control-prev a-out-t"><a class="text-light" href="#carousel_main" data-slide="prev"><span class="icon-cl-prev text-shadow pe-7s-angle-left"></span></a></div>
        <div class="carousel-control-next a-out-t"><a class="text-light" href="#carousel_main" data-slide="next"><span class="icon-cl-next text-shadow pe-7s-angle-right"></span></a></div>
      </div>
    </header>
    <!-- /.header -->

    <!-- Start Main Content -->
    <main class="main-content">
  
      <!-- Start Content Area -->
      <section class="section gs_features">
        <div class="row no-gutters">
          <div class="col-xl-6 col-12 py-8 px-4 px-sm-8 py-md-9 px-md-9 br-n bs-c effect-wrapper effect-grayscale position-relative hover" style="background-image: url('{% static 'assets/front/assets/img/content/cont/cg-fl_01.jpg' %}');">
            <div class="overlay bg-light_A-90 d-md-none"></div>
            <div class="row h-100 align-items-center content">
              <div class="col-12 col-md-8 ml-auto text-secondary text-md-right">
                <h2 class="mb-4">¿Quieres conocer la competencia?</h2>
                <span class="d-block text-uppercase ls-3 mb-6">¡Este es el lugar indicado!</span>
                <a href="{% url 'pages:about' %}" class="btn btn-lg btn-warning btn-outline-secondary btn-round"><i class="fa fa-newspaper mr-5" aria-hidden="true"></i>Descubre</a>
              </div>
            </div>
            <figure class="d-none d-md-block effect-layla effect-layla-dark"></figure>
          </div>
          <div class="col-xl-6 col-12 py-8 px-4 px-sm-8 py-md-9 px-md-9 br-n bs-c" style="background-image: url('{% static 'assets/front/assets/img/content/cont/cg-fl_03.jpg' %}');" data-overlay="7">
            <div class="row align-items-center h-100">
              <div class="col-sm-6 col-md-4 mb-5 mb-md-0">
                <figure class="position-relative my-0">
                  <div style="background-image: url('{% static 'assets/front/assets/img/content/cont/cg_07.png' %}');" class="main-fb-product bs-c bp-c br-n">
                  </div>
                </figure>
              </div>
              <div class="col-md-8 text-light">
                <h2 class="text-light mb-4">Preguntas frecuentes</h2>
                <p class="mb-7">¿Tienes alguna pregunta? Resuelve tus dudas en nuestra lista de preguntas frecuentes</p>
                <a href="{% url 'pages:faq' %}" class="btn btn-lg btn-danger btn-round"><i class="fa fa-question-circle mr-5" aria-hidden="true"></i>Revisar FAQ</a>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End Content Area -->

      <!-- Start Content Area -->
      <section class="text-light" style="background: linear-gradient(to bottom, #111931 0%, #0f131e 100%);">
        <div class="container">

          <div class="row mb-2 pt-8" id="big-logos">
              <div class="col-md-6">
                <a href="https://www.roboticslab.cl/" target="_blank" rel="noopener noreferrer">
                  <div class="row g-0 rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative" id="robotics-lab-scl-big-logo">
                    <img src="{% static 'assets/front/assets/img/robotics-lab-scl.png' %}" width="100%" alt="Robotics Lab SCL">
                  </div>
                </a>
              </div>
              <div class="col-md-6">
              <a href="https://biped-robot.or.jp/" target="_blank" rel="noopener noreferrer">
                <div class="row g-0 rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative" id="biped-robot-asociation-big-logo">
                  <img src="{% static 'assets/front/assets/img/biped-robot-asociation.png' %}" width="100%" alt="Biped Robot Asociation">
                </div>
              </a>
            </div>
          </div>


          <header class="header text-left">
            <h2 class="mt-6 mb-6">Anuncios</h2>
          </header>
          <div class="row" id="posts">
          </div>
        </div>
      </section>
      <!-- /.End Content Area -->

      {% include 'pages/structure/partners.html'%}

      
      <section class="content-section text-light parallax-window position-relative" data-parallax="scroll"
      data-image-src="">
      <div class="overlay bg-dark_A-30 pe-n"></div>
      <div class="container">
        <div class="row gutters-y align-items-center">
          <div class="col-lg-6 mb-4 mb-lg-0 ml-auto p-7 pr-md-10">
            <div>
                <h3 class="text-center">Síguenos en redes sociales</h3>
                <div class="row" style="display: flex; justify-content: space-between;">
                
                <div>
                  <a class="social-facebook social-icon" class="nav-link" href="https://www.facebook.com/BipedRobotAssociation/" target="_blank" style="display: inline;"><i class="fab fa-facebook"></i> </a>
                </div>
                <div>
                 <a class="social-instagram social-icon" href="https://www.instagram.com/robo_one_latinoamerica/" target="_blank" rel="noopener noreferrer"><i class="fab fa-instagram"></i></a>
                </div>
                <div>
                  <a class="social-twitch social-icon" href="http://twitch.tv/robo_one_latino" target="_blank" rel="noopener noreferrer"><i class="fab fa-twitch"></i></a>
                </div>
                <div>
                  <a class="social-youtube social-icon" href="https://www.youtube.com/channel/UCJiQL7ihUT9UYMUnvp2C0qw/videos" target="_blank" rel="noopener noreferrer"><i class="fab fa-youtube"></i></a>
                </div>
                </div>
            </div>
          </div>
          <div class="col-lg-6 ml-lg--8 rounded bg-dark text-light shadow-lg-3 py-7 px-lg-7 py-lg-6">
          <div class="ratio ratio-1x1">
            <iframe  width="100%" height="260" src="https://www.youtube.com/embed/M-jGD-GValA?controls=0" title="Robo-One Latinoamérica" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
          </div>
        </div>
      </div>
    </section>
        
    <section class="content-section text-light parallax-window position-relative" data-parallax="scroll"
      data-image-src="" style="padding-top: 0px !important;">
      <div class="overlay bg-dark_A-30 pe-n"></div>
      <div class="container">
      <header class="section-header" >
            <h2 class="text-center">Robo-One LatinoAmérica Organización 2021</h2>
            <hr class="w-10 border-top-2 border-warning o-80">
          </header>

          <style>
            .team_element {
              display: flex;
              
            }

            .team_element__name {
              font-size: 1.3em;
              flex: 1 1 auto;
            }

            .team_element__icon {
              margin-right: 7px;
            }
          </style>
        

        <div class="row mb-0  mb-md-6">
          <div class="col-md-4 mb-4 mb-md-0">
            <div class="team_element">
              <div class="team_element__name" >Alexandra Lukicheva</div>
              <div class="team_element__icon"><a class="social-vk" target="_blank" href="https://vk.com/id610542735"><i class="fab fa-vk"></i></a></div>
              <div class="team_element__icon"><a class="social-facebook" target="_blank" href="https://www.facebook.com/profile.php?id=100010415357014"><i class="fab fa-facebook"></i></a></div>
            </div>
            <div class="team_element-position">Asuntos internacionales</div>
          </div>
          <div class="mb-4 mb-md-0 col-md-4">
            <div class="team_element">
              <div class="team_element__name">Byron Oyarzún Venegas</div>
              <div class="team_element__icon"><a class="social-linkedin" target="_blank" href="https://www.linkedin.com/in/boyarzun/"><i class="fab fa-linkedin"></i></a></div>
            </div>
            <div class="team_element-position">Desarrollador Web</div>
          </div>
          <div class="mb-4 mb-md-0 col-md-4">
            <div class="team_element">
              <div class="team_element__name">Daniela Durán Alviña</div>
              <div class="team_element__icon"><a class="social-twitter" target="_blank" href="https://twitter.com/daniduran8"><i class="fab fa-twitter"></i></a></div>
              <div class="team_element__icon"><a class="social-facebook" target="_blank" href="https://es-la.facebook.com/danieladuran.al/"><i class="fab fa-facebook"></i></a></div>
              <div class="team_element__icon"><a class="social-instagram" target="_blank" href="https://www.instagram.com/daniduran.a/"><i class="fab fa-instagram"></i></a></div>
              <div class="team_element__icon"><a class="social-linkedin" target="_blank" href="https://www.linkedin.com/in/daniela-dur%C3%A1n-alvi%C3%B1a-3a388244/"><i class="fab fa-linkedin"></i></a></div>
            </div>
            <div class="team_element-position">Comunicaciones</div>
          </div>
        </div>

        <div class="row mb-6">
          <div class="mb-4 mb-md-0 col-md-4">
            <div class="team_element">
              <div class="team_element__name" >Karen Muñoz Guzmán</div>
              <div class="team_element__icon"><a class="social-twitter" target="_blank" href="https://twitter.com/karenmug"><i class="fab fa-twitter"></i></a></div>
              <div class="team_element__icon"><a class="social-instagram" target="_blank" href="https://www.instagram.com/karenmug/"><i class="fab fa-instagram"></i></a></div>
            </div>
            <div class="team_element-position">Producción - Comunicaciones</div>
          </div>
          <div class="mb-4 mb-md-0 col-md-4">
            <div class="team_element">
              <div class="team_element__name">Vicente Medina</div>
              <div class="team_element__icon"><a class="social-instagram" target="_blank" href="https://www.instagram.com/vicho.mdr/"><i class="fab fa-instagram"></i></a></div>
            </div>
            <div class="team_element-position">Transmisión</div>
          </div>
          <div class="col-md-4">
          </div>
        </div>
        {% comment "" %}
        <div class="row mb-6">
          <div class="col-md-4">
            <div class="team_element">
              <div class="team_element__name" >Nombre del integrante</div>
              <div class="team_element__icon"><a class="social-facebook" href="#"><i class="fab fa-facebook"></i></a></div>
              <div class="team_element__icon"><a class="social-instagram" href="#"><i class="fab fa-instagram"></i></a></div>
              <div class="team_element__icon"><a class="social-linkedin" href="#"><i class="fab fa-linkedin"></i></a></div>
            </div>
            <div class="team_element-position">Posición</div>
          </div>
          <div class="col-md-4">
            <div class="team_element">
              <div class="team_element__name">Nombre del integrante</div>
              <div class="team_element__icon"><a class="social-facebook" href="#"><i class="fab fa-facebook"></i></a></div>
              <div class="team_element__icon"><a class="social-instagram" href="#"><i class="fab fa-instagram"></i></a></div>
              <div class="team_element__icon"><a class="" href="#"><i class="fab fa-linkedin"></i></a></div>
            </div>
            <div class="team_element-position">Posición</div>
          </div>
          <div class="col-md-4">
            <div class="team_element">
              <div class="team_element__name">Nombre del integrante</div>
              <div class="team_element__icon"><a class="social-facebook" href="#"><i class="fab fa-facebook"></i></a></div>
              <div class="team_element__icon"><a class="social-instagram" href="#"><i class="fab fa-instagram"></i></a></div>
              <div class="team_element__icon"><a class="social-linkedin" href="#"><i class="fab fa-linkedin"></i></a></div>
            </div>
            <div class="team_element-position">Posición</div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <div class="team_element">
              <div class="team_element__name" >Nombre del integrante</div>
              <div class="team_element__icon"><a class="social-facebook" href="#"><i class="fab fa-facebook"></i></a></div>
              <div class="team_element__icon"><a class="social-instagram" href="#"><i class="fab fa-instagram"></i></a></div>
              <div class="team_element__icon"><a class="social-linkedin" href="#"><i class="fab fa-linkedin"></i></a></div>
            </div>
            <div class="team_element-position">Posición</div>
          </div>
          <div class="col-md-4">
            <div class="team_element">
              <div class="team_element__name">Nombre del integrante</div>
              <div class="team_element__icon"><a class="social-facebook" href="#"><i class="fab fa-facebook"></i></a></div>
              <div class="team_element__icon"><a class="social-instagram" href="#"><i class="fab fa-instagram"></i></a></div>
              <div class="team_element__icon"><a class="" href="#"><i class="fab fa-linkedin"></i></a></div>
            </div>
            <div class="team_element-position">Posición</div>
          </div>
          <div class="col-md-4">
            <div class="team_element">
              <div class="team_element__name">Nombre del integrante</div>
              <div class="team_element__icon"><a class="social-facebook" href="#"><i class="fab fa-facebook"></i></a></div>
              <div class="team_element__icon"><a class="social-instagram" href="#"><i class="fab fa-instagram"></i></a></div>
              <div class="team_element__icon"><a class="social-linkedin" href="#"><i class="fab fa-linkedin"></i></a></div>
            </div>
            <div class="team_element-position">Posición</div>
          </div>
        </div>
      </div>
      {% endcomment %}
    </section>
    

      <!-- Start Screenshots Area -->
      <div class="screenshots_box">
          <div class="container-fluid">
            <div class="row py-2 py-lg-1">
              <div class="col-md-6 col-lg d-flex pl-lg-0 pr-lg-1 mb-4 mb-lg-0">
                <div class="tile d-flex px-0">
                  <div class="tile">
                    <figure class="h-100 ar-8_5 bs-c br-n bp-c" style="background-image: url({% static 'assets/front/assets/img/thumb/3.jpg' %});"></figure>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-lg d-flex px-lg-1 mb-4 mb-lg-0">
                <div class="tile d-flex px-0">
                  <div class="tile">
                    <figure class="h-100 ar-8_5 bs-c br-n bp-c" style="background-image: url({% static 'assets/front/assets/img/thumb/11.jpg' %});"></figure>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-lg d-flex px-lg-1 mb-4 mb-md-0">
                <div class="tile d-flex px-0">
                  <div class="tile">
                    <figure class="h-100 ar-8_5 bs-c br-n bp-c" style="background-image: url({% static 'assets/front/assets/img/thumb/6.jpg' %});"></figure>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-lg d-flex pr-lg-0 pl-lg-1">
                <div class="tile d-flex px-0">
                  <div class="tile">
                    <figure class="h-100 ar-8_5 bs-c br-n bp-c" style="background-image: url({% static 'assets/front/assets/img/thumb/5.jpg' %});"></figure>
                  </div>
                </div>
              </div>
            </div>
            <div class="row py-2 py-lg-1">
              <div class="col-md mb-4 mb-md-0 d-flex pr-lg-1 pl-lg-0">
                <div class="tile d-flex px-0">
                  <div class="tile">
                    <figure class="h-100 ar-8_5 bs-c br-n bp-c" style="background-image: url({% static 'assets/front/assets/img/thumb/4.jpg' %});"></figure>
                  </div>
                </div>
              </div>
              <div class="col-md mb-4 mb-md-0 d-flex px-lg-1">
                <div class="tile d-flex px-0">
                  <div class="tile">
                    <figure class="h-100 ar-8_5 bs-c br-n bp-c" style="background-image: url({% static 'assets/front/assets/img/thumb/7.jpg' %});"></figure>
                  </div>
                </div>
              </div>
              <div class="col-md d-flex pl-lg-1 pr-lg-0">
                <div class="tile d-flex px-0">
                  <div class="tile">
                    <figure class="h-100 ar-8_5 bs-c br-n bp-c" style="background-image: url({% static 'assets/front/assets/img/thumb/12.jpg' %});"></figure>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- End Screenshots Area -->
    </main>

    {% include 'pages/structure/footer.html' %}

    <!-- Contact -->
    <div class="modal fade" id="contactModal" tabindex="-1" role="dialog" aria-labelledby="newTitle" aria-hidden="true">
      <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
        <div class="modal-content bg-dark text-light">
          <div class="modal-header border-secondary">
            <h5 class="modal-title" id="newTitle">Contacto</h5>
            <button type="button" class="close text-light" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div id="contactForm" class="modal-body">
            <form method="POST" onsubmit="sendContactForm(event)" class="input-transparent">
            {% csrf_token %}
              <div class="form-row">
                <div class="form-group col-md-6">
                  <input class="form-control form-control-lg" id="contactName" type="text" name="name" placeholder="Nombre" required>
                </div>
                <div class="form-group col-md-6">
                  <input class="form-control form-control-lg" id="contactEmail" type="email" name="email" placeholder="E-mail" required>
                </div>
              </div>
              <div class="form-group">
                <input type="text" class="form-control border-secondary" id="contactSubject" name="subject" placeholder="Asunto" required>
              </div>
              <div class="form-group">
                <textarea class="form-control form-control-lg" id="contactMessage" rows="4" placeholder="Mensaje..." name="message" required></textarea>
              </div>
              <div class="form-group mt-6">
                <button class="btn btn-block btn-warning" type="submit">Enviar</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- /.contact -->

    <!-- Pop Up -->
    <div class="modal fade" id="newModal" tabindex="-1" role="dialog" aria-labelledby="newTitle" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
          <div class="modal-content bg-dark">
            <div class="modal-header border-secondary">
              <h5 class="modal-title text-warning" id="newTitle">¡Atención!</h5>
              <button type="button" class="close text-light" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <div style="text-align: center;">
                  <a href="http://twitch.tv/robo_one_latino" target="_blank">
                   <img class="mb-4" src="{% static 'assets/front/assets/img/content/Robo-One-Latino-America-2021-x2.jpg' %}" width="100%">
                     <a class="btn btn-primary btn-sm" href="https://www.robo-one.la/robo-one/"> Robo-One</a>
                     <a class="btn btn-warning btn-sm" href="https://www.robo-one.la/robo-one-light/">Robo-One Light</a>
                  </a>
                </div>
            </div>
          </div>
        </div>
      </div>
    <!-- /.Pop Up -->

    {% include 'pages/structure/scripts.html' %}
    <script src="{% static 'assets/front/assets/js/index.js' %}"></script>
    <script>
      $(document).ready(
        $('#newModal').modal('show')
      )
    </script>

{% endblock  %}