{% extends 'pages/structure/base.html' %}

{% load static %}

{% block body %}
  <!-- Start Main Content -->
    <main class="main-content gradient-lg position-relative">

      <!-- Overlay -->
      <div class="overlay pe-n br-n bp-c bs-c o-30" style="background-image: url({% static 'assets/front/assets/img/bg/bg_shape.png' %});"></div>
      <!-- /.Overlay -->

      <!-- Start Content Area -->
      <div class="mt-10 text-light">
        <div class="container">
          <header class="header">
            <h2>Noticias</h2>
          </header>
          <div class="position-relative">
            <div class="row">
              <div class="col-lg-8">
                <!-- nav tabs -->
                <ul class="spotlight-tabs spotlight-tabs-dark nav nav-tabs border-0 mb-5 position-relative flex-nowrap" id="most_popular_products-carousel-01" role="tablist">
                  <li class="nav-item text-fnwp position-relative">
                    <a class="nav-link active show" id="mp-2-01-tab" data-toggle="tab" href="#mp-2-01-c" role="tab" aria-controls="mp-2-01-c" aria-selected="true">Noticias</a>
                  </li>
                </ul>
                <!-- tab panes -->
                <div id="color_sel_Carousel-content_02" class="tab-content position-relative w-100">
                  <!-- tab item -->
                  <div class="tab-pane fade active show" id="mp-2-01-c" role="tabpanel" aria-labelledby="mp-2-01-tab">
                    <div class="row news-list" id="news-content"></div>
                  </div>
                  <!-- tab item -->
                </div>

                <!-- pagination -->
                <nav class="mt-4 pt-4 border-top border-secondary" aria-label="Navegación">
                  <ul class="pagination justify-content-end">
                    <li class="page-item">
                      <a class="page-link" href="#" aria-label="Anterior">
                        <span class="ti-angle-left small-7" aria-hidden="true"></span>
                        <span class="sr-only">Anterior</span>
                      </a>
                    </li>
                    <li class="page-item active"><a class="page-link" href="#">1</a></li>
                    <li class="page-item">
                      <a class="page-link" href="#" aria-label="Siguiente">
                        <span class="ti-angle-right small-7" aria-hidden="true"></span>
                        <span class="sr-only">Siguiente</span>
                      </a>
                    </li>
                  </ul>
                </nav>
                <!-- /.pagination -->
              </div>
              <div class="col-lg-4">
                    <!--
                    <div class="bg-dark_A-20 p-4 mb-4">
                      <img src="{% static 'assets/front/assets/img/content/cont/belt.png' %}" alt="Robo One" class="mb-3">
                      <p>Inscríbete junto a tu equipo en Robo One Chile 2019, compite para ser el campeón y clasifica a Robo One Japón 2020 ¡Incluye pasaje y estadía en Japón para el Robot ganador!</p>
                      <div>
                      <a href="https://docs.google.com/forms/d/1UfHcaDh6Mchan0FH7g1oT1oJ4CJrB1C6-kHsw1evslU/edit" target="_blank" class="btn btn-block btn-warning"> Inscripción</a>
                      </div>
                    </div>
                    -->
                    <div class="archive border border-secondary rounded mb-4">
                          <div class="bg-secondary px-4 py-1"><span class="fw-600 ls-1 text-uppercase small">Infórmate</span></div>
                          <div class="py-6 py-xl-5 px-4">
                            <div class="row gutters-y">
                              <div class="col-md-6 col-lg-12">
                                <!-- news-item -->
                                <div class="news-item">
                                  <div class="row no-gutters">
                                    <div class="col-lg-5 mb-5 mb-lg-0">
                                      <div class="rounded overflow-h">
                                        <div>
                                          <img src="{% static 'assets/front/assets/img/content/award/discover.jpg' %}" alt="Robo One">
                                        </div>
                                      </div>
                                    </div>
                                    <div class="col-lg-7">
                                      <div class="text-gray pl-lg-3">
                                        <div class="lh-1"><a href="{% url 'pages:about' %}" class="badge badge-warning mb-2">Descubre</a></div>
                                        <h6 class="text-uppercase mb-0 small-2 fw-400"><a href="{% url 'pages:about' %}">¿Quieres conocer el evento?</a></h6>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <!-- /.news-item -->
                              </div>
                              <div class="col-md-6 col-lg-12">
                                <!-- news-item -->
                                <div class="news-item">
                                  <div class="row no-gutters">
                                    <div class="col-lg-5 mb-5 mb-lg-0">
                                      <div class="rounded overflow-h">
                                        <div>
                                          <img src="{% static 'assets/front/assets/img/content/award/learn.jpg' %}" alt="Robo One">
                                        </div>
                                      </div>
                                    </div>
                                    <div class="col-lg-7">
                                      <div class="text-gray pl-lg-3">
                                        <div class="lh-1"><a href="{% url 'pages:learn' %}" class="badge badge-warning mb-2">Aprende más</a></div>
                                        <h6 class="text-uppercase mb-0 small-2 fw-400"><a href="{% url 'pages:learn' %}">¡Prepárate para competir en Robo One!</a></h6>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <!-- /.news-item -->
                              </div>
                              <div class="col-md-6 col-lg-12">
                                <!-- news-item -->
                                <div class="news-item">
                                  <div class="row no-gutters">
                                    <div class="col-lg-5 mb-5 mb-lg-0">
                                      <div class="rounded overflow-h">
                                        <div>
                                          <img src="{% static 'assets/front/assets/img/content/award/faq.jpg' %}" alt="Robo One">
                                        </div>
                                      </div>
                                    </div>
                                    <div class="col-lg-7">
                                      <div class="text-gray pl-lg-3">
                                        <div class="lh-1"><a href="{% url 'pages:faq' %}" class="badge badge-secondary mb-2">FAQ</a></div>
                                        <h6 class="text-uppercase mb-0 small-2 fw-400"><a href="{% url 'pages:faq' %}">Revisa nuestra lista de preguntas frecuentes</a></h6>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <!-- /.news-item -->
                              </div>
                            </div>
                          </div>
                        </div>
                  </div>
            </div>
          </div>
        </div>  
      </div>
      <!-- /.End Content Area -->
    {% include 'pages/structure/partners.html' %}

    </main>

    {% include 'pages/structure/footer.html' %}


  
      <!-- Contact -->
      <div class="modal fade" id="contactModal" tabindex="-1" role="dialog" aria-labelledby="userLoginTitle" aria-hidden="true">
        <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
          <div class="modal-content bg-dark text-light">
            <div class="modal-header border-secondary">
              <h5 class="modal-title" id="userLoginTitle">Contacto</h5>
              <button type="button" class="close text-light" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div id="contactForm" class="modal-body">
              <form method="POST" onsubmit="sendContactForm(event)" class="input-transparent">
              {% csrf_token %}
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <input class="form-control form-control-lg" id="contactName" type="text" name="name" placeholder="Nombre" required>
                  </div>
                  <div class="form-group col-md-6">
                    <input class="form-control form-control-lg" id="contactEmail" type="email" name="email" placeholder="E-mail" required>
                  </div>
                </div>
                <div class="form-group">
                  <input type="text" class="form-control border-secondary" id="contactSubject" name="subject" placeholder="Asunto" required>
                </div>
                <div class="form-group">
                  <textarea class="form-control form-control-lg" id="contactMessage" rows="4" placeholder="Mensaje..." name="message" required></textarea>
                </div>
                <div class="form-group mt-6">
                  <button class="btn btn-block btn-warning" type="submit">Enviar</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- /.contact -->

    {% include 'pages/structure/scripts.html' %}
    <script src="{% static 'assets/front/assets/js/newsV3.js' %}"></script>
{% endblock %}