{% extends 'registration/base_forgot.html' %}

{% block title %}Restablecer Contraseña{% endblock %}

{% block form_body %}
{% csrf_token %}
{% if form.errors %}
<!--begin::Form group-->
<div class="form-group">
    <div class="alert alert-danger" role="alert">
        {{form.errors}}
    </div>
</div>
{% endif %}
<!--end::Form group-->
<!--begin::Title-->
<div class="text-center pb-8">
    <h2 class="font-weight-bolder text-dark font-size-h2 font-size-h1-lg">Cambiar Contraseña</h2>
    <p class="text-muted font-weight-bold font-size-h4">Ingresa tu nueva contraseña</p>
</div>
<!--end::Title-->
<!--begin::Form group-->
<div class="form-group">
    <input class="form-control form-control-solid h-auto py-7 px-6 rounded-lg font-size-h6" type="password"
        placeholder="Contraseña actual" name="old_password" id="old_password" autocomplete="off" />
</div>
<!--end::Form group-->
<!--begin::Form group-->
<div class="form-group">
    <input class="form-control form-control-solid h-auto py-7 px-6 rounded-lg font-size-h6" type="password"
        placeholder="Contraseña Nueva" name="new_password1" id="new_password1" autocomplete="off" />
</div>
<!--end::Form group-->
<!--begin::Form group-->
<div class="form-group">
    <div class="alert alert-info" role="alert">
        {{form.new_password1.help_text}}
    </div>
</div>
<!--end::Form group-->
<!--begin::Form group-->
<div class="form-group">
    <input class="form-control form-control-solid h-auto py-7 px-6 rounded-lg font-size-h6" type="password"
        placeholder="Confirmar Contraseña" name="new_password2" id="new_password2" autocomplete="off" />
</div>
<!--end::Form group-->
<!--begin::Form group-->
<div class="form-group d-flex flex-wrap flex-center pb-lg-0 pb-3">
    <button type="button" id="kt_login_reset_submit"
        class="btn btn-primary font-weight-bolder font-size-h6 px-8 py-4 my-3 mx-4">Enviar</button>
</div>
<!--end::Form group-->
{% endblock %}