{% extends 'registration/base_forgot.html' %}
{% block form %}
<!--begin::Title-->
<div class="text-center pb-8">
    <h2 class="font-weight-bolder text-dark font-size-h2 font-size-h1-lg">Enhorabuena!</h2>
    <p class="text-muted font-weight-bold font-size-h4">Tu contraseña ha sido restablecida</p>
</div>
<!--end::Title-->
<!--begin::Form group-->
<div class="form-group">
    <div class="d-flex justify-content-between mt-n5">
        <a href="{% url 'login' %}" class="text-primary font-size-h6 font-weight-bolder text-hover-primary pt-5">Iniciar
            Sesión</a>
    </div>
</div>
<!--end::Form group-->
{% endblock %}